<header>
  <div class="collapse bg-white" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-secondary">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4><a routerLink="/portfolio" class="text-secondary">Portfolio</a></h4>
          <h4><a routerLink="/pricing" class="text-secondary">Pricing</a></h4>
          <h4><a href="#" class="text-secondary">Contact</a></h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-secondary">Follow on Twitter</a></li>
            <li><a href="#" class="text-secondary">Like on Facebook</a></li>
            <li><a href="#" class="text-secondary">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-nav></app-nav>
</header>