  <!-- Heading Row -->
  <div class="row my-4">
      <div class="col-lg-8 text-center">
        <h1>What Is Sky Vault?</h1>
        <p class="text-left">Sky Vault brings to the Flathead Valley a combination of Aerial and Ground Videography and
          Photography.</p>
        <p class="text-left">Our goal is to bring your property, business or event to life using Video and Photo.</p>
      </div>
      <div class="col-lg-4">
        <!-- <img class="img-fluid rounded" src="./assets/img/Jewel.jpg" alt=""> -->
        <!-- Call to Action Well -->
        <div class="card text-white bg-warning my-4 text-center">
          <div class="card-body">
            <p class="text-white m-0">Call today and let’s put together something the Valley has never seen!</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Portfolio</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/portfolio" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Pricing</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/pricing" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">About</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/about" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
  
    </div>
    <!-- /.row -->