  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="./assets/img/Jewel.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4 text-center">
      <h1>Sky Vault</h1>
      <p class="text-left">Sky Vault brings to the Flathead Valley a combination of Aerial and Ground Videography and Photography.</p>
      <p class="text-left">Our goal is to bring your property, business or event to life using Video and Photo.</p>
      <a class="btn btn-primary btn-lg" href="#">Get A Quote!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  
  <!-- Call to Action Well -->
  <!-- <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
    </div>
  </div> -->

  <!-- Content Row -->
  <div class="row">
    <!-- Free Tier -->
    <div class="col-lg-4">
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-uppercase text-center">Basic</h5>
          <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Sales Feature 1</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Another Thing</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Limited Other Point</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>You Don't Want This</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>This Sounds Cool</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>And Even Better Here</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Pretty Boring TBH</li>
          </ul>
          <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
        </div>
      </div>
    </div>
    <!-- Plus Tier -->
    <div class="col-lg-4">
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-uppercase text-center">Pro</h5>
          <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Better Sales Feature(s)</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>A Cooler Thing</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Other Point Expanded</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>You Want This</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>This Sounds Cool and You Get It</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>This Sounds Cooler Though</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>And Wow This is Lit</li>
          </ul>
          <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
        </div>
      </div>
    </div>
    <!-- Pro Tier -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase text-center">Elite</h5>
          <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Best Sales Feature(s)</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>The Coolest Thing</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Other Point But Wow</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>You Want This Too</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>This Sounds Cool and You Get It</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>This Sounds Cooler Though</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>And Wow This is Lit</li>
          </ul>
          <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->