<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full text-left align-content-center" style="background-image: url('./assets/img/CE.jpg');">
  <!-- <img class="img-fluid d-block mx-auto" src="../../assets/img/skyvault.png" alt="" style="height:150px"> -->
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Clint Ekern, CEO</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
      architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>
