<!-- Page Heading -->
<h1 class="my-4">Portfolio
  <small>Property</small>
</h1>

<div class="row mb-5">
  <div *ngFor="let project of projects" class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a routerLink="/project/{{ project.id }}"><img class="card-img-top" src="{{ project.imgsource }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="/project/{{ project.id }}">{{ project.name }}</a>
        </h4>
        <p class="card-text">{{ project.desc }}</p>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Pagination -->
<!-- <ul class="pagination justify-content-center">
  <li class="page-item">
    <a class="page-link" routerLink="/project" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </a>
  </li>
  <li class="page-item">
    <a class="page-link" routerLink="/project">1</a>
  </li>
  <li class="page-item">
    <a class="page-link" routerLink="/project">2</a>
  </li>
  <li class="page-item">
    <a class="page-link" routerLink="/project">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" routerLink="/project" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a>
  </li>
</ul> -->