<!-- Portfolio Item Heading -->
<h1 class="my-4">{{ project.name }}
  <small>{{ project.subtitle }}</small>
</h1>

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-{{ mainColumns }}">
    <div *ngIf="project.vidid" class="embed-responsive embed-responsive-16by9" [innerHtml]="vidsource"></div>
    <img *ngIf="!project.vidid" class="img-fluid" [src]="project.imgsource" alt="">
  </div>
  <div class="col-md-4" *ngIf="project.desc || project.bullets">
    <h3 class="my-3">Project Description</h3>
    <p>{{ project.desc }}</p>
    <h3 *ngIf="project.bullets" class="my-3">Project Details</h3>
    <ul *ngFor="let point of project.bullets">
      <li>{{ point }}</li>
    </ul>
  </div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<h3 class="my-4">Related Projects</h3>

<div class="row">
  <div *ngFor="let project of projects" class="col-md-3 col-sm-6 mb-4">
    <a routerLink="/project/{{ project.id }}">
      <img class="img-fluid" [src]="project.imgsource" alt="{{ project.name }}">
    </a>
  </div>
</div>
<!-- /.row -->